/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
composer.lock
.idea/
public/jquery-ui/jquery-ui.min.js
public/jquery-ui/AUTHORS.txt
public/jquery-ui/index.html
public/jquery-ui/jquery-ui.css
public/jquery-ui/jquery-ui.js
public/jquery-ui/jquery-ui.min.css
public/jquery-ui/jquery-ui.structure.css
public/jquery-ui/jquery-ui.structure.min.css
public/jquery-ui/jquery-ui.theme.css
public/jquery-ui/jquery-ui.theme.min.css
public/jquery-ui/LICENSE.txt
public/jquery-ui/package.json
public/jquery-ui/external/jquery/jquery.js
public/jquery-ui/images/ui-icons_444444_256x240.png
public/jquery-ui/images/ui-icons_555555_256x240.png
public/jquery-ui/images/ui-icons_777620_256x240.png
public/jquery-ui/images/ui-icons_777777_256x240.png
public/jquery-ui/images/ui-icons_cc0000_256x240.png
public/jquery-ui/images/ui-icons_ffffff_256x240.png
